/**
 * Created by harshalcarpenter on 5/20/18.
 */

.news-desc{
  position: relative;
}

.news-reaction{
  display: inline-block;
  position: absolute;
  bottom: -15px;
  right: -18px;
  font-size: 1rem;
  box-shadow: 2px 2px 9px -2px #02aebf;
  border-radius: 15px;
  background-color: #333333;

  .fa-thumbs-up,
  .fa-thumbs-down{
    display:none;
  }

  .reaction{
    display: inline-block;
    padding: 5px 12px;
    border-style:solid;
    border-width: 1px;
    border-color: #01b0bf;
    span{
      display: inline-block;
      padding: 0 0 0 10px;
    }

  }
  .reaction-like-span{
    border-radius: 15px 0 0 15px;
    border-right: 0;
    padding-left: 20px;
  }
  .reaction-dislike-span{
    border-radius: 0 15px 15px 0;
    border-left: 0;
  }

  &.reaction-like{
    .fa-thumbs-up{
      display:inline-block;
    }
    .fa-thumbs-up{
      color: green;
    }

    .fa-thumbs-o-up{
      display: none;
    }
  }

  &.reaction-dislike{
    .fa-thumbs-down{
      display:inline-block;
    }
    .fa-thumbs-down{
      color: red;
    }

    .fa-thumbs-o-down{
      display: none;
    }
  }
}

.latest-news{
  padding-bottom: 100px;
}

.news-block{
  height: 100%;
}

.news-container{
  display: flex;
  padding: 13px 0 6px 7px;
  margin: 10px 0 15px;
  width: calc(100% - 15px);
  border-left-width: 4px;
  border-left-style: solid;
  background: linear-gradient(135deg, rgb(88, 88, 88) 0%, rgb(51, 51, 51) 70%);
  .news-image{
    margin: 0 3px;
    img{
      height: 110px;
      width: 110px;
      border-radius: 8px;
    }
  }
  .news-desc{
    width: calc(100% - 140px);
    padding: 0 5px;
    font-size: 0.75rem;
    .news-head{

    }
    h3{
      margin: 2px 0 20px 0;
      font-size: 0.9rem;
      width: 100%;
      display: inline-block;
    }
    .news-time,.news-source{
      background-color: #00aebf;

      font-weight: 100;
      font-size: 0.75rem;
      display: inline-block;

      padding: 2px 5px;
      color: white;
    }
    .news-time{
      border-radius: 4px 0 0 4px;
    }
    .news-source{
      background-color: tomato;
      border-radius: 0 4px 4px 0;
    }
  }
  &.news-bitcoin{
    border-left-color: #dcb844;
  }
  &.news-ethereum{
    border-left-color: dodgerblue;
  }
  &.news-crypto{
    border-left-color: salmon;
  }
  &.news-cryptomarkets{
    border-left-color: slateblue;
  }
}


.news-cover{
  .news-head{
    margin: 3px 0;
    font-size: 1.2rem;
    position: relative;
    background-color: #333333;
    display: inline-block;
    padding: 0 18px 0 0;
  }
  .news-link{
    margin-top: -25px;
  }
}