.alert-mess{
  position: absolute;
  top: -60px;
  right: 0px;
  left: 0px;
  width: 100%;
  text-align: center;
  z-index: 100;
  .a-summ{
    display: inline-block;
    color: white;
    font-size: 18px;
    font-weight: bold;
  }
  .a-mess{
    font-size: 18px;
    font-weight: 100;
    padding: 15px 5px;
    color: white;
    display: inline-block;
  }
}

.success-class{
  background-color: rgba(86, 212, 86, 0.93);
}

.error-class{
  background-color: rgba(255, 30, 30, 0.93);
}

.update-class{
  background-color: rgba(30, 139, 255, 0.93);
}

.warn-class{
  background-color: rgba(255, 136, 30, 0.93);
}