body{
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

.start-logo{
    position: absolute;
    bottom: -90px;
    left: -80px;
}

.hp-container{
    text-align:right;
}

.hp-header{
    font-size: 3rem;
}

.hp-buttons{
    text-align: right;
    margin-top: 32px;
}

.hp-button-black{
    background-color: #fff;
    padding: 10px 24px;
    border-radius: 4px;
    font-size: 1.2rem;
    border: 3px solid #373d44;
    margin: 3px 0px;
    display: inline-block;
    text-decoration: none;
    color: #373d44;
}
.hp-button-black:visited{
    color: #373d44;
}